body {
    font-size: 1.9em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 70px;
    background-image: url('https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95d09002a.png');
  }
  